/* Booking Component Styles */
body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.booking-container {
  max-width: 600px;
  min-height: 100vh;
  margin: 50px auto;
  padding: 40px 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  /* background-image: url('assets/images/booking-bg.jpg');  */
  background-size: cover;
  background-position: center;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #0dc6eb;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}


label i {
  margin-right: 8px;
  color: #0dc6eb; /* Icon color */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select {
  width: 90%; /* Ensure full width */
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow to inputs */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

input:focus,
select:focus {
  border-color: #0dc6eb;
  outline: none;
  box-shadow: 0 0 5px rgba(13, 198, 235, 0.5); /* Shadow on focus */
}

.submit-button {
  width: 100%;
  padding: 15px;
  background-color: #0dc6eb;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 18px;
}

.submit-button:hover {
  background-color: #000000;
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.submit-button:disabled {
  background-color: #ccc; /* Disabled color */
  color: #666;
  cursor: not-allowed;
}

small{
  color: red;
}

.alert {
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #e7f3fe; /* Light blue background */
  color: #31708f; /* Darker blue text */
  border: 1px solid #b3d4ea; /* Light blue border */
}

.alert strong {
  font-weight: bold;
}

.alert p {
  margin: 0; /* Remove default margin */
  line-height: 1.5; /* Increase line height for readability */
}

.check-button {
  background-color: var(--primary-color); /* Blue background */
  color: white; /* White text */
  padding: 10px 15px; /* Padding for the button */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s; /* Smooth transition */
}

.check-button:hover {
  background-color: var(--primary2-color); /* Darker blue on hover */
}

.check-button:disabled {
  background-color: #ccc; /* Disabled color */
  color: #666;
  cursor: not-allowed;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .booking-container {
    padding: 30px 15px;
  }
}