body {
    margin: 0;

}

.navbar {
    position: fixed;
    height: 50px; /* Fixed height for the navbar */
    top: 0;
    left: 0;
    width: 97%;
    background-color: var(--fith-color);
    color: #ffffff;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    /* Optional: limit max width */
    margin: 0 auto;
    /* Center the navbar */
    width: 100%;
    position: relative;
    top: -30px;
    /* Ensure it takes full width */
}

.navbar-logo {
    
  flex-shrink: 0; /* Prevent the logo from shrinking */
    font-size: 1.5em;
    color: var(--primary-color);
    text-decoration: none;
}

.navbar-links {
    display: flex;
    gap: 20px;
}

.navbar-links a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.navbar-links a:hover {
    color: var(--primary2-color);
}

/* Show toggle button for mobile */
.navbar-toggle {
    display: none;
}

.navbar-logo-img {
    width: 120px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure it behaves as a block element */
    margin: auto; /* Center the logo if needed */
  }
/* Responsive Styles */
@media (max-width: 768px) {
    .navbar-links {
        flex-direction: column;
        position: absolute;
        top: 60px;
        /* Adjust based on navbar height */
        left: 0;
        /* Align to left */
        width: 100%;
        background: var(--fith-color);
        transition: max-height 0.3s ease;
        max-height: 0;
        /* Hide links initially */
        overflow: hidden;
        /* Hide overflow */
    }

    .navbar-links.active {
        max-height: 300px;
        /* Maximum height when active */
    }

    .navbar-links a {
        padding: 10px 20px;
        display: block;
        width: 100%;
        text-align: left;
    }

    .navbar-toggle {
        display: block;
        /* Show toggle button */
        cursor: pointer;
        color: var(--primary-color);
        font-size: 1.5em;
        /* Increase font size */
        margin-right: 10%;
    }

    .navbar-logo-img {
        width: 100px; /* Set your desired width */
        height: auto; /* Maintain aspect ratio */
        display: block; /* Ensure it behaves as a block element */

      }

      .navbar-container {
        position: relative;
        top: -20px;
        /* Ensure it takes full width */
    }

    .navbar {
        height: 50px; /* Fixed height for the navbar */
    }

}

