.whole-contact-container {
  background-image: url('../../assets/metal.jpg');
  /* background-size: cover;
  background-position: center; */
}

.about-container {
  max-width: 800px;
  min-height: 100vh;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  /* background-image: url('../../assets/metal.jpg'); */
  background-size: cover;
  background-position: center;
  color: #ffffff; /* Set text color to white for better contrast */
}

h2 {
  margin-bottom: 40px;
  color: #0dc6eb; /* Bright color for headings */
}

section {
  margin-bottom: 30px;
  text-align: left;
  background: rgba(0, 0, 0, 0.7); /* Dark background for sections */
  padding: 15px; /* Added padding for sections */
  border-radius: 5px; /* Rounded corners */
}

h3 {
  margin-bottom: 10px;
  color: #0dc6eb; /* Bright color for subheadings */
}

p {
  margin: 10px 0;
  color: #e0e0e0; /* Lighter text for paragraphs */
}

.timeline {
  position: relative;
  padding: 10px 0;
}

.timeline-item {
  margin: 20px 0;
}

.timeline-content {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1); /* Light background for timeline content */
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Darker shadow for better visibility */
}

.timeline-content h4 {
  margin: 0;
  color: #0dc6eb; /* Bright color for timeline headers */
}

ul {
  list-style-type: none;
  padding: 0;
  color: #e0e0e0; /* Lighter text for list items */
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.team-member {
  background-color: rgba(255, 255, 255, 0.1); /* Light background for team members */
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.team-image {
  width: 100%;
  height: auto; /* Allow height to adjust based on width for responsiveness */
  max-height: 150px; /* Set a maximum height */
  object-fit: cover;
  border-radius: 50%;
}

.team-bio {
  font-size: 0.9em;
  color: #e0e0e0; /* Lighter text for team bios */
  margin-top: 5px;
}

.call-to-action {
  margin-top: 40px;
  background-color: #0dc6eb; /* Bright background for call to action */
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.call-to-action a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}

h2, h3, h1 {
  font-family: 'Poppins', sans-serif;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .about-container {
    padding: 15px;
  }

  h2 {
    font-size: 1.5em;
  }

  .team-member {
    padding: 10px;
  }

  .team-image {
    max-height: 220px; /* Reduce max height for mobile */
  }
}