.admin-container {
  padding: 1rem;
 /* background-color: var(--fith-color);  */
 font-family: 'Poppins', sans-serif;
}
h1, h2, h3,h4{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background: var(--primary2-color); /* Use primary2 color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly darker shadow */
  padding: 1rem;
  flex: 1 1 calc(33% - 2rem); /* Responsive flex for PC */
  transition: transform 0.2s;
  color: var(--text-color); /* Use text color for card text */
}

.card:hover {
  transform: translateY(-2px);
  background: var(--primary-color); /* Change background on hover */
}

.card-header {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: bold;
  color: var(--secondary-color); /* Use secondary color for labels */
}

.empty-card {
  padding: 1rem;
  text-align: center;
  background: var(--secondary-color); /* Use secondary color for empty card */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--text-color);
}
input[type="text"] {
  width: 20%;
  padding: 10px 15px;
  margin-bottom: 20px; /* Space below the input */
  border: 1px solid #ccc; /* Light border */
  border-radius: 25px; /* Rounded corners */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition */
  font-size: 16px; /* Font size */
  font-family: 'Poppins', sans-serif;
}

input[type="text"]:focus {
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle shadow on focus */
  outline: none; /* Remove default outline */
}

select {
  width: 20%; /* Full width */
  padding: 10px 15px; /* Padding for comfort */
  margin-bottom: 20px; /* Space below the dropdown */
  border: 1px solid #ccc; /* Light border */
  border-radius: 25px; /* Rounded corners */
  background-color: #fff; /* White background */
  font-size: 16px; /* Font size */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transition */
  font-family: 'Poppins', sans-serif;
}

/* Style for dropdown on focus */
select:focus {
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Subtle shadow on focus */
  outline: none; /* Remove default outline */
}

/* Optional: Add a custom style for the options */
select option {
  padding: 10px; /* Padding for options */
  background-color: #fff; /* White background for options */
}

/* Optional: Hover effect for options (not all browsers support this) */
select:hover {
  border-color: #007bff; /* Change border color on hover */
}
@media (max-width: 600px) {
  .card {
    flex: 1 1 100%; /* Full width on mobile */
  }

  .card-body {
    padding: 0.5rem 0;
  }
  input[type="text"] {
    width: 50%;
  }
  select {
    width: 70%; /* Full width */

  }
}